# alias
alias bat='batcat'
alias fd='fdfind'
alias tm="trash"
alias py3="python3"
alias ip="ip --color=auto"
alias icdiff="icdiff --color=auto"
alias l="exa -lg --icons --octal-permissions"
alias ll="exa -lg --icons --octal-permissions -a"
alias gi="vim .gitignore"
alias pv="virtualenv .venv"
alias aptud="sudo apt update"
alias aptug="sudo apt upgrade -y"
alias aptlu="apt list --upgradable"
alias aptli="apt list --installed"
alias apti="sudo apt install -y"
alias apts="apt search --names-only"
alias aptp="sudo apt purge -y"
